.StickyNote {
    border-radius: 5px;
    margin: 30px;
    background-color: #FFD357;
}

.noteBtnDiv {
    margin-left: 10px;
    margin-bottom: 5px;
}

.notePositionBtn {
    margin-left: 3px;
    margin-right: 3px;
    border: solid black 2px;
}

.noteCloseBtn {
    margin: 2px;
    position: absolute;
    right: 5%;
    font-size: larger;
}

.noteTextArea {
    margin: 5px;
    min-width: auto;
    min-height: auto;
    resize: none;
}

.noteSaveBtn {

}