body {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #66ccff;
    cursor: pointer;
}

#landing_container {
    max-width: 70vw;
}

#landing_header {
    /*margin: 3%;*/
    margin-top: 3%;
}

#example-instance {
    display: flex;
    width: 50%;
    border-radius: 5px;
    border: 3px solid gray;
    padding: 20px;
}

#example-img {
    height: 300px;
}


.content {
    margin: 1.5em 10%;
}

#content1 {
    /*margin-top: 3em;*/
}

.textP {
    background-color: #DDDDDD;
}

button {
    margin: 3px;
}

#dashButtons {
    align-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

